
.payment {
    background-color: white;
}

.payment_container >h1 {
   text-align: center;
   padding: 10px;
   font-weight: 400;
   background-color: rgb(234, 237, 237);
   border-bottom: 1px solid lightgray;
}

.payment_priceContainer >h1 a {
    text-decoration: none;
    color: black;
}

.payment_section {
    display: flex;
    margin: 20px;
    padding: 20px;
    border: 1px solid lightgray;
}

.payment_title {
    flex: 0.2;
}

.payment_address {
    flex: 0.8;
}

.payment_items {
    flex: 0.8;
    margin-top: 30px;
    

}

.payment_priceContainer {
    display: flex;
    justify-content: space-between;
}

.payment_details{
    border-top: 1px solid lightgray;
    padding-top: 20px;
    margin-top: 20px;
}

.payment_price {
    font-weight: bold;
}

.payment_button {
    background-color: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

/* Path: amazon clone\src\Payment.css */